[data-theme="baby-blue-1"] {
  --color-bg: #03080f;
  --color-surface: #091422;
  --color-accent: #c4a0b2;
  --color-accent-2: #89b4d4;
  --color-accent-3: #8090a8;
  --color-accent-muted: #887080;
  --color-text-primary: #f0eeec;
  --color-text-secondary: #848288;
  --color-border: #142030;
  --heading-font: var(--font-sans);
  --card-radius: 0.5rem;
}
